.card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
}

.card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: black;
}

a {
    text-decoration: none;
}
